html {
    background-color:#F4F1F1;
}

/*.page {*/
    display:grid;
    grid-template-columns:400px 1fr;
    grid-column-gap: 25px;
}

.nav {
/*    display:grid;*/
    margin-top:10px;
    margin-left: 25px;
    position: fixed;
    grid-column-start: 1;
    grid-column-end: 2;
}

.work1 {
    grid-column: 2/3;
}

/*.grid-item {*/
    width: 400px;
    float:left;
}

#filter {
    display: grid;
    font-family: 'Ubuntu', sans-serif;
    font-weight: Medium;
    margin-top: 50px;
    margin-left: 50px;
    line-height: 30px;
}

#sign {
    margin-top: 50px;
    margin-left: 50px;
}

h1 {
    margin-left: 75px;
}

h1 a:hover {
    color: #4056ff;
}

#current_page{
    background-color: none;
    color: #4056ff;
    padding-left: 10px;
    border-left-style: solid;
    
}

h2 {
    margin-left: 75px;
    color: gray;
}

#home {
    font-family: 'Ubuntu', sans-serif;
    font-weight: Medium;
    font-size: 16pt;
    margin-top: 30px;
}

#about {
    font-family: 'Ubuntu', sans-serif;
    font-weight: Medium;
    font-size: 16pt;
    margin-top: 25px;
}

#email {
    font-family: 'Ubuntu', sans-serif;
    font-weight:100;
    font-size: 10pt;
    margin-top: 25px;
}

#insta {
    font-family: 'Ubuntu', sans-serif;
    font-weight:100;
    font-size: 10pt;
    margin-top: 15px;
}

.invisible {
}

.grid-item {
    margin-bottom: 10px;
    padding-bottom: 10px;
}

a:link {
    text-decoration: none;
}

a:visited {
    color: black;
}

.bio {
    width: 600px;
    margin-left: 400px;
    margin-bottom: 100px;
    padding-left: 15px;
    border-left-style: solid;
    border-color: #4056ff;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 10pt;
    line-height: 25px;
}










