body {
    font-family: palatino;
}

p {
    font-size: 14;
}

h1 {
    color: deepskyblue;
    font-size: 24;
}

#subinfo {
    font-size: 14;
}

h2 {
    color: white;
    font-size: 20;
    background-color: deepskyblue;
}

ul {
    font-family: helvetica;
    font-size: 14;
    line-height: 2;
}

ol {
    font-family: helvetica;
    font-size: 14;
    line-height: 1;
}

#tag {
    font-family: helvetica;
    color: lightcoral;
    font-size: 18
    
}

tr {
    color: lightcoral;
}

figcaption {
    font-family: helvetica;
    color: lightcoral;
    font-size: 14;
}

a:link {
    color: lightcoral;
    text-decoration: none;
}

a:visited {
    color: lightcoral;
    text-decoration: line-through;
}

a:hover {
    text-decoration: underline;
}









